body{
    background: url("../img/woodfloor.jpg");
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
}


table.matrix {
    border-spacing: 0px;
    border-collapse: collapse;
}

table.matrix td {
    border: solid 1px #aaaaaa;
    width: 30px;
    height: 30px;
    text-align: center;
}

.clickable-matrix td.cell-empty:hover {
    background-color: #eff77c;
    cursor: pointer;
}

.player-holder {
    background: url("../img/paper.png") no-repeat center;
    background-size: 450px 490px;
    height: 430px;
    margin: 5px;
    padding: 55px 15px 10px 20px;
}

.active-matrix .player-name {
    background: url("../img/pencil.png") no-repeat right;
    background-size: 80px 32px;
    font-weight: bold;
}

table.matrix td.cell-with-ship {
    background: url("../img/scribble.png") no-repeat center;
}

table.matrix td.cell-missed {
    color: #db4e5a;
    font-size: 18px;
    -webkit-animation: cell-missed-animation 1s; /* Chrome, Safari, Opera */
    animation: cell-missed-animation 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes cell-missed-animation {
    from {background: #f0f700;}
    to {background: rgba(234, 247, 60, 0);}
}

/* Standard syntax */
@keyframes cell-missed-animation {
    from {background: #f0f700;}
    to {background: rgba(234, 247, 60, 0);}
}

table.matrix td.cell-ship-hit {
    background: url("../img/scribble-red.png") no-repeat center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.header-cell {
    font-weight: bold;
}

.player-name {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.mainFrame {
    width: 850px;
    margin: 0 auto;
}

.button-container {
    text-align: center;
    padding: 10px;
}

.non-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ship {
    margin: 5px;
    background: url("../img/scribble.png");
    background-size: 33px;
    border: solid 1px #666666;
    cursor: grab;
    float: left;
}

.ship img:hover {
    -webkit-animation:spin 0.5s linear;
    -moz-animation:spin 0.5s linear;
    animation:spin 0.5s linear;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

#coverup {
    background: url("../img/metropolitan.png") ;
    background-size: 145px;
    width: 145px;
    height: 145px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 2;
}

#AvailableShips {
    background: url("../img/paper.png") no-repeat right;
    background-size: 400px 490px;
    padding: 0 30px 30px 12px;
    margin-right: 132px;
    width: 250px;
    height: 490px;
}

#AvailableShipsTitle {
    margin-top: 65px;
    margin-bottom: 10px;
}

#SettlePlayer td.cell-blocked, #SettlePlayer td.cell-with-ship {
    background-color: rgba(192, 57, 43, 0.100);
}

img.rotation {
    width: 22px;
    height: 22px;
    margin: 5px;
    cursor: pointer;
}

input[type='button'] {
    padding: 10px 14px;
    background-color: #a70532;
    border: none;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    color:#fff;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
}

input[type='button']:hover {
    background-color: #d1053b;
    cursor: pointer;
}

input[type='button']:disabled {
    display: none;
}

