table.matrix {
    border-spacing: 0px;
    border-collapse: collapse;
}

table.matrix td {
    border: solid 1px #777777;
    width: 30px;
    height: 30px;
    text-align: center;
}

.clickable-matrix td.cell-empty:hover {
    background-color: #eaf73c;
    cursor: pointer;
}

.matrix-holder {
    background-color: #F5F1DE;
    margin: 5px;
    padding: 5px;
    -moz-box-shadow: 3px 3px 4px #777;
    -webkit-box-shadow: 3px 3px 4px #777;
    box-shadow: 3px 3px 4px #777;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.active-matrix {
    background-color: #db8280;
}

table.matrix td {
    background-color: #ffffff;
}

table.matrix td.cell-with-ship {
    background-color: #999999;
}

table.matrix td.cell-blocked {
    background-color: #ffffff;
}

table.matrix td.cell-missed {
    color: #db4e5a;
    font-size: 18px;
    -webkit-animation: cell-missed-animation 1s; /* Chrome, Safari, Opera */
    animation: cell-missed-animation 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes cell-missed-animation {
    from {background: #db4e5a;}
    to {background: #ffffff;}
}

/* Standard syntax */
@keyframes cell-missed-animation {
    from {background: #db4e5a;}
    to {background: #ffffff;}
}

table.matrix td.cell-ship-hit {
    background-color: #db4e5a;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.header-cell {
    font-weight: bold;
}

.player-name {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.game {
    width: 800px;
    margin: 0 auto;
}